#{
    margin: 0%;
    padding: 0%;
}

header{ 
    background-color:#1C6434;
    display:flex;
}

section {
    display: flex;
    background-color: white;
    color: #1C6434;
    width: 400px;
}

div{
    padding: 30px;
}

